<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path (@list.image.key if @list.image.attached?), height: 300, crop: :fill %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
<div class="d-flex align-items-end flex-column my-3">
<%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-gradient" %>
</div>
<% @bookmarks.each do |b| %>
  <div class="card-product mb-3">
    <img src="<%= b.movie.poster_url %>" />
    <div class="card-product-infos">
      <h2><%= b.movie.title %> <span style="color: grey">• <%= b.movie.rating %></span> <i class="fa-solid fa-star" style="color: #FFD43B;"></i> </h2>
      <p><%= b.movie.overview %></p>
      <p><i class="fa-solid fa-quote-left"></i><%= b.comment %></p>
      <%= link_to bookmark_path(b), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "remove-link" do%>
      <i class="fa-solid fa-x" style="color: #eb300f;"></i>
      <% end %>
    </div>
  </div>
<% end %>
</div>
