
<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path (@list.image.key if @list.image.attached?), height: 300, crop: :fill %>')">
  <h1><%= @list.name %></h1>
</div>

<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
<br>
<%= link_to 'Back to Lists', root_path %>
<br>
<ul>
<% @bookmarks.each do |b| %>
  <li>
  <%= b.movie.title %> :
  <%= b.comment %>
  <%= link_to 'Delete', bookmark_path(b), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }%>
  </li>
<% end %>
</ul>
